
.top-cloud {
  position: absolute;
  right: 550px;
}
.bottom-cloud{
  position: absolute;
  top: auto;
}
body{
  margin: 0;
  text-align: center;
  font-size: 200%;
}

h1{
font-size: 5.625rem;
  margin: 70px auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}
h2 {
  font-family: 'Raleway', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
}
span {
  text-decoration: underline;
}
.profile-Picture{
  margin-top: 30px;
  height: 200px;
}
.personal-info {
  width: 30%;
  margin: auto;
}
.hr1 {
  border-style: none;
  border-top: dotted;
  border-color: #EAF6F6;
  border-width: 12px;
  width: 6%;

}
h3 {
  font-family: 'Raleway', sans-serif;
  color: #11999E;
}
.top-container{
  background-color: #E4F9F5;
  padding: 40px;
}

p{
  font-family: 'Roboto', sans-serif;
}

h6 {
  font-family: 'Hachi Maru Pop', cursive;
  margin-bottom: 0;
color:  #EAF6F6;

}

a {
  color: #11999E;
  padding: 28px;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   padding: 40px;
   background-color: #11999E;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skills-img{
  width: 25%;
  float: left;
  margin: auto 30px 100px auto  ;
    border-radius: 100%;
}
.burger-img {
  width: 25%;
  float: right;
  margin-left:  30px;
}
.bottom-container {
  text-align: center;
  background-color: #66BFBF;
  margin-bottom: 0;
  padding: 20px;
}
